@model List<StaffVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}
<table class="table table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>Personel Adı</th>
        <th>Personel Ünvan</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.StaffId</td>
                <td>@item.Name</td>
                <td>@item.Title</td>
                <td><a href="/Staff/DeleteStaff/@item.StaffId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Staff/UpdateStaff/@item.StaffId" class="btn btn-warning">Güncelle</a></td>
                <td><button asp-route-id="@item.StaffId" class="btn btn-rounded btn-outline-primary">Detaylar</button></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Staff/AddStaff/" class="btn btn-success">Yeni Personel Ekle</a>


